<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/config/springmvc-config.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>

        <!-- @MultipartConfig Servlet3 upload config  -->
        <multipart-config>
            <!-- The maximum size allowed for uploaded files, in bytes.
            If the size of any uploaded file is greater than this size, the web container will throw
            an exception (IllegalStateException). The default size is unlimited.-->
            <max-file-size>20848820</max-file-size>
            <!--The maximum size allowed for a multipart/form-data request, in bytes.
            The web container will throw an exception if the overall size of all uploaded files exceeds
            this threshold. The default size is unlimited. -->
            <max-request-size>418018841</max-request-size>
            <!-- The file size in bytes after which the file will be temporarily stored on disk.
             The default size is 0 bytes. -->
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>

    </servlet>

    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>