<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- 上下文参数，所有servlet可用-->
    <context-param>
        <param-name>upload folder</param-name>
        <param-value>attachment</param-value>
    </context-param>

    <!-- 资源注入代码 -->
    <env-entry>
        <env-entry-name>hello</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>Hello ,This is a resource inject string.</env-entry-value>
    </env-entry>

    <env-entry>
        <env-entry-name>i</env-entry-name>
        <env-entry-type>java.lang.Integer</env-entry-type>
        <env-entry-value>23333</env-entry-value>
    </env-entry>


    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>com.example.FirstServlet</servlet-class>

        <!--通过getServletContext().getInitParam()获取-->
        <init-param>
            <param-name>message</param-name>
            <param-value>welcome to FirstServlet</param-value>
        </init-param>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
        <!-- 1:tomcat在启动时加载该servlet 0:会在有人第一次请求该servlet时加载 -->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- 配置servlet的访问方式-->
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/servlet/FirstServlet</url-pattern>
        <url-pattern>/servlet/FirstServlet.do</url-pattern>
        <url-pattern>/servlet/FirstServlet.php</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReqServlet</servlet-name>
        <servlet-class>com.example.ReqServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReqServlet</servlet-name>
        <url-pattern>/servlet/ReqServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>com.example.CaptchaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/servlet/CaptchaServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadParamServlet</servlet-name>
        <servlet-class>com.example.ReadParamServlet</servlet-class>
        <init-param>
            <param-name>initParamName</param-name>
            <param-value>world</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReadParamServlet</servlet-name>
        <url-pattern>/servlet/ReadParamServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.example.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/servlet/UploadServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ForwardServlet</servlet-name>
        <servlet-class>com.example.ForwardServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ForwardServlet</servlet-name>
        <url-pattern>/servlet/ForwardServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>com.example.RedirectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/servlet/RedirectServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RefreshServlet</servlet-name>
        <servlet-class>com.example.RefreshServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RefreshServlet</servlet-name>
        <url-pattern>/servlet/RefreshServlet</url-pattern>
    </servlet-mapping>

</web-app>